
<div class="container-fluid">
	<div class="pt6">
		<div class="panel panel-danger">
	    <div class="panel-body">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-sm-6">
        			<div class="text-center">
						    <h2>Lets create your store.</h2>
						    <p>Creating a store on <strong>claeus</strong> if free and fast - No fees or commitments</p>

						    <div class="section">
							    <%= render 'form' %> 
							  </div>
						  </div>
      			</div>
      			<div class="col-sm-6">
      				<div class="sell-tips">
      					<h1>Top tips to creating good brand on Claeus.</h1>
	      				<ul class="tips">
	      					<li class="tip">Make your store name unique and catchy</li>
	      					<li class="tip">Describe your store in less than 200 characters.</li>
	      					<li class="tip">Add tags that best describes the products you are selling</li>
	      					<li class="tip">Add a logo to your store. its easier for people to recognise your brand with a unique logo</li>
	      					<li class="tip">Offer awesome products.</li>
	      				</ul>
      				</div>
      				
      			</div>
	    		</div>
				  
	    	</div>
	    </div>
	  </div>
	</div>
</div>
