

<div class="pt6">
  <div class="text-center">
    <h3>Lets create your store.</h3>
    <p>Creating a store on <strong>claeus</strong> if free and fast - No fees or commitments</p>
  </div>
  <div class="section">
    <%= render 'form' %> 
  </div>  
</div>