
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header text-right"> Welcome, <small><%= @user.email %></small></h2>
      
      <div class="">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-danger ">
                    <div class="panel-body">
                        <ul class="dash-pane">
                            <li><%= link_to "Profile", user_path(current_user) %></li>
                            <li><a href="#">Purchases</a></li>
                            <li><a href="#">Favorites</a></li>
                            <li><%= link_to "Settings", edit_user_registration_path %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        
                        <h3>Member Since: <%= current_user.created_at.strftime("%D") %></h3>
                        
                            
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
