

<div class="container">
  <div class="section pt6">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="text-center">
          <h1 class="amount">Get to know Claeus</h1>
          <h4>Our mission is to offer small businesses and emerging brands an ecosystem to start selling online while building their brands.</h4>
          <p class="lead">We are much more than just a marketplace, we are about discovering and connecting amazing brands to customers.</p>

          <hr>

          <p class="lead">In April, 2016 <strong>Nana Adjei Manu(Joe Claeus)</strong> started claeus.com.
            His main aim was to offer sellers a unique online ecosystem to offer their products for sale while
            engaging and retaining their customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
