

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
      </div>
      <div class="col-sm-7">
      <div class="panel panel-default">
          <div class="panel-body">
            <h3 class=" text-left">Just In</h3>
            <ul class="list-group">
              <% @latest_products.each do |p| %>
                <li class="list-group-item"><%= link_to p.name, product_path(p) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

