
<section class="container">
  <div class="row">
    <div class="mt10">
      <div class="col-sm-3 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Latest Products</h3>
            
          </div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Just In ...</h3>

          <div class="">
            <% @stores.each do |s|%>
              <div class="media">
                  <div class="media-left">
                      <%= image_tag(s.logo.thumb)%>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= link_to s.name, store_path(s) %></h4>
                  </div>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section>
  <div class="bg-white cat-section">
    <div class="container">
      <h2 class="heading">Browse categories <span class="pull-right"><small><%= link_to "View all", categories_path %></small></span></h2>
    
      <div class="row">
        <% @categories.each do |c| %>
          <div class="col-xs-6 col-md-4 col-lg-2">
            <div class="cat-card">
              <p><%= link_to c.name, c %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

