<section>
  <div class="container">
    <div class="home-hero text-center-xs mt5-xs mb7 mb3-xs">
      <div class="row v-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="ph6 pt6 pt0-sm pt0-xs">
          <h1 class="ma0">
            Thoudsands of products in one place
          </h1>
          <div class="input-group pt6">
          
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
