<div class="section pt6">
	<div class="container">
		<div class="panel panel-danger">
			<div class="panel-heading">Search</div>
			<div class="panel-body">
			<hr>
				<%= render @search %>
			</div>
		</div>
	</div>
</div>
