

.alert, .notice
    padding: 2rem 0
    text-align: center
    margin: 0
    font: 1.25rem
    font-weight: 600
    color: white
    letter-spacing: 1px

#notice_wrapper
    background: rgba(47,218,184, .4)

#alert_wrapper
    background: rgba(238,64,84, .4)
