.bg-grey
    background-color: #ecf0f1




// FOOTER STYLING

.footer-primary 
    background: #FFF
    padding: 40px 0 0 0
    font-size: 14px
    line-height: 1.85


// Category section of homepage

.cat-card
    width: 100%
    padding: 15px
    background: #fff
    margin: 10px 
    text-align: center



// Sell Page styling

.sell-hero
    background-image: image-url("pattern.svg")
    height: 300px
    background-size: cover
    background-repeat: no-repeat
    background-position: center