
.pdt-assets
  padding: 10px

.thumbnail
  width: 100%
  padding: 0
  border: 0
  img
    width: 100%
    max-height: 100%
  .caption
    width: 100%
    padding: 7px 0 7px 7px
    h3
      margin: 0
      text-align: left
      font-size: 15px
      font-weight: normal
      color: $main-text
    hr
      margin-bottom: 3px

.amount
  color: $red
  font-size: 15px
  font-weight: bold


.asset-img
  img
    width: 100%
