.store-front

  h1
    font-family: 'Josefin Sans', sans-serif
    text-transform: uppercase
    font-weight: normal


.store-cat
  max-width: 100%
  margin: 0 auto
  text-align: center
  li
    display: inline
    a
      text-transform: none
      text-transform: uppercase
      font-weight: 500
      padding-right: 15px
      color: #4f4f6a
