

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <% @categories.each do |c| %>

                <h3><%= c.name %></h3>

            <% end %>
        </div>
    </div>
</div>

