<div class="section pt6">
  <div class="container">
    <div class="panel panel-danger">
      <div class="panel-body">
        <h2 class="text-center text-muted"><%= @category.name %></h2>
        <div class="row section">
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                  <h2 class="text-center text-muted">Top stores in <strong><%= @category.name %></strong> </h2>
                  <% @category.stores.each do |store| %>
                    <div class="caption">
                      <%= link_to store.name, store %>
                    </div>
                  <% end %>
                </div>
            </div>
            <hr>
            <h2 class="text-center text-muted">More Categories</h2>
            <div class="row">
              <% @category.subcategories.each do |s| %>
                <div class="col-sm-3">
                  <div class="cat-card">
                    <p class="lead"><%= link_to s.name, s %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
