<%= simple_form_for [@product, @r] do |f| %>

    <div id="star-rating">
        <label>Rating</label>
    </div>
    <div class="form-group">
      <%= f.text_area :comment, class: "form-control"%>
    </div>
    <%= f.submit "Review", class: "btn btn-danger button btn-block" %>

<% end %>



<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
</script>
