<%= simple_form_for [@product, @r] do |f| %>

    <div id="star-rating">
        <label>Rating</label>
    </div>
    <%= f.text_area :comment%>

    <%= f.submit %>
<% end %>



<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
</script>