<footer class="footer-primary clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 pbm">
            <p class="lead">Claeus, Inc.</p>
            </div>
            <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Company</h4>
                <ul class="list-unstyled">
                    <li><a href="/features/online-course-builder">About Us</a></li>
                    <li><a href="/features/digital-downloads">Blog</a></li>
                    <li><a href="/features/landing-page-builder">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-1 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Business</h4>
                <ul class="list-unstyled">
                    <li><a href="/features">Sell on Claeus</a></li>
                    <li><a href="/pricing">Advertise on Claeus</a></li>
                    <li><a href="/examples">FAQs</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Help</h4>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://help.withcoach.com/">Support</a></li>
                    <li><a href="mailto:hello@withcoach.com">Contact Us</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center footer-copyright">
                    ©
                    2017
                    claeus. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>